<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./reusable/head.ejs')  %> 
    <link rel="stylesheet" href="../public/css/certificados.css">
    <title>Portfólio / Fernando</title>
</head>
<body>
    <%- include('./reusable/reload.ejs') %> 
    <div id="containner">
        <%- include('./reusable/langContainner.ejs') %> 
        <%- include('./reusable/header.ejs',{index:4})  %> 
        <main>
            <div id="main-containner">
                <div id="top-text">
                    <h1>Meus Certificados📜</h1>
                    <span>Abaixo é possível ver todos os meus certificados de cursos que pude concluir, caso tenha vontade e possível baixá-los no formato PDF ao clicar no botão!</span>
                </div>
                <div id="certificados">
                    <div class="cert-row">
                        <h1 class="title-row">Certificados de Cursos Presenciais</h1>
                        <div class="cert-col"></div>
                    </div>
                    <div class="cert-row">
                        <h1 class="title-row">Certificados de Cursos Online</h1>
                        <div class="cert-col"></div>
                    </div>
                    <div class="cert-row">
                        <h1 class="title-row">Certificados de Cursos Hibridos</h1>
                        <div class="cert-col"></div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <%- include('./reusable/scripts.ejs') %> 
</body>
</html>