<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./reusable/head.ejs')  %> 
    <link rel="stylesheet" href="../public/css/contact.css">
    <title>Portfólio / Fernando</title>
</head>
<body>
    <div id="containner">
        <%- include('./reusable/langContainner.ejs') %> 
        <%- include('./reusable/reload.ejs') %> 
        <%- include('./reusable/header.ejs',{index:4}) %> 
        <main>
            <div id="main-containner">
                <div id="content">
                    <span id="htmlTag">&lt;HTML&gt;</span><br>
                    <div id="body-content">
                        <div id="h1-content">
                            <h1 id="main-title"></h1>
                            <p id="paragrafo-content">
                                <span id="text-paragrafo"></span>
                            </p>
                        <div id="form-content">
                            <span id="FormTag">&lt;FORM&gt;</span><br>
                            <form action="/contact/menssage" id="form" method="post">
                                <input type="text" name="color" id="color" hidden>
                                <div id="form-conteinner">
                                    <div id="form_inputs">
                                        <input type="text" hidden id="idioma" name="lang" value="">
                                        <input id="nome" name="nome" type="text" placeholder="Name">
                                        <input id="email" name="email" type="text" placeholder="Email">
                                    </div>
                                    <div id="form-textarea">
                                        <textarea name="message" id="message" placeholder="Message"></textarea>
                                    </div>
                                    <button id="enviar" type="submit"></button>
                                </div>
                            </form>
                            <span id="FormTagBottom">&lt;/FORM&gt;</span><br>
                        </div>
                    </div>
                    <span id="htmlTag-bottom">&lt;/HTML&gt;</span><br>
                </div>
            </div>
        </main>
    </div>
    <%- include('./reusable/scripts.ejs') %> 
    
    <script>
        
        document.getElementById('enviar').addEventListener('click',()=>{contact()})
        document.getElementById('idioma').value = localStorage.getItem('lang')
        document.getElementById('color').value = localStorage.getItem('color')
    </script>
</body>
</html>